<div id="container">

	<div class="item">
		<div id="imageWrapper">
	 		<a href="../assets/container-large/difficultdecisions.jpg"><img src="assets/isotope/difficultdecisions.jpg" alt="difficult decisions"/></a>
	 	</div><!--close imageWrapper-->

	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/bullycheetos.jpg"><img src="assets/isotope/bullycheetos.jpg" alt="bully cheetos"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/dog-lobster-battle.jpg"><img src="assets/isotope/dog-lobster-battle.jpg" alt="dog and lobster do battle"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item">
		<div id="imageWrapper">
	 		<a href="../assets/container-large/bullypup.jpg"><img src="assets/isotope/bullypup.jpg" alt="bullypup"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/hydrangeas.jpg"><img src="assets/isotope/hydrangeas.jpg" alt="hydrangeas"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item big vertical">
		<div id="imageWrapper big vertical">
	 		<a href="../assets/container-large/fridaynights.jpg"><img src="assets/isotope/fridaynights.jpg" alt="friday night"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item robin williams">
		<div id="imageWrapper">
	 		<a href="../assets/container-large/robinwilliams.jpg"><img src="assets/isotope/robinwilliams.jpg" alt="robinwilliams"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/actors.jpg"><img src="assets/isotope/actors.jpg" alt="actors"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item books">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/smellybooks.jpg"><img src="assets/isotope/smellybooks.jpg" alt="smellybooks"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/internetbaby.jpg"><img src="assets/isotope/internetbaby.jpg" alt="internetbaby"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/link.jpg"><img src="assets/isotope/link.jpg" alt="link"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item robin williams">
		<div id="imageWrapper">
	 		<a href="../assets/container-large/jimcarrey.gif"><img src="assets/isotope/jimcarrey.gif" alt="jimcarrey"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/socialanxiety.jpg"><img src="assets/isotope/socialanxiety.jpg" alt="socialanxiety"/></a>
	 	</div><!--close imageWrapper-->
	</div>

	<div class="item square">
		<div id="imageWrapper square">
	 		<a href="../assets/container-large/hairplay.jpg"><img src="assets/isotope/hairplay.jpg" alt="hair play"/></a>
	 	</div><!--close imageWrapper-->
	</div>


</div>