            <div id= "header">
                <div id="name">
                    <p><a href="/index.html">Catherine Edsel</a></p>
                </div>
                <div id="header-span">
                    <span>||</span>
                </div>
                <div id="nav">
                    <ul>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/things-that-make-me-happy.html">Things That Make Me Happy</a></li>
                    </ul>
                </div>
            </div>